@charset "UTF-8";

body {
	background-image: url("../imagens/tela-inicial.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#cabecalho {
	margin-top: 60px;
	margin-bottom: 0;

}

.botaoPosto {
	margin-top: 15px;
	margin-left: 1600px;
	color: #ffffff !important;
	background: #0000ff !important;
	padding: 7px 15px !important;
	text-decoration: none !important;
	text-transform: uppercase;
}

.textbotao {
	text-decoration: none !important;
	color: #ffffff !important;
	background: #0000ff !important;
	padding: 3px 10px !important;
}

#contanner {
	margin-top: 460px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#conteudo {
	width: 1400px;
	height: 120px;
}

.botaoUsuario {
	margin: 80px 10px 0 100px;
	float: left;
	background: #ffff00 !important;
	padding: 10px 50px !important;
	text-transform: uppercase;
	font-weight: bolder;
}

.botaoFrentista {
	margin-right:10px;
	margin-left: 300px;
	background: #00ff00!important;
	padding: 10px 50px !important;
	text-transform: uppercase;
	font-weight: bolder;
}

.botaoCliente {
	margin: 80px 50px 0 10px;
	float: right;
	background: #ff0000 !important;
	padding: 10px 50px !important;
	text-transform: uppercase;
	font-weight: bolder;
}