@charset "UTF-8";

body {
	background-image: url("../imagens/perfilUsuario.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

#cabecalho {
	margin-top: 60px;
	margin-bottom: 0;

}

#contaneer {
	margin-top: 90px;
}

.botaoPostoUsuario {
	margin-top: 345px;
	margin-left: -250px;
	color: #000000!important;
	background: #ffff00 !important;
	padding: 10px 20px !important;
	text-decoration: none !important;
	text-transform: uppercase;
	position: relative !important;
}

.botaoAvaliacaoUsuario{
	margin: 640px 75px 0 130px;
	float: left;
	color: #000000!important;
	background: #ffff00!important;
	padding: 10px 20px !important;
	text-decoration: none !important;
	text-transform: uppercase;
}

.botaoAlterarUsuario {
	margin-top: -10px;
	margin-left: 1160px;
	color: #000000 !important;
	background: #ffff00 !important;
	padding: 10px 25px !important;
	text-decoration: none !important;
	text-transform: uppercase;
	position: absolute !important;
	display: block;
}

.textbotaoUsuario {
	text-decoration: none !important;
	color: #ffffff !important;
	background: #0000ff !important;
	padding: 3px 10px !important;
}

#contanner {
	margin-top: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#conteudo {
	width: 1500px;
	height: 120px;
}

